html {
  scroll-behavior: smooth;
}

.open-button {
  background-color: #BB8BDD;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 180px;
  border-radius: 40px;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 2px solid #f1f1f1;
  z-index: 9;
  
}

.form-container {
  max-width: 250px;
  padding: 10px;
  background-color: white;
  
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #BB8BDD;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  font-size: 15px;
  font-weight: bold;
}

.form-container .cancel {
  background-color: #BB8BD0;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}
.menuitem
{
display: inline-block;
width:20%;
}

h1
{
color: #ffffff;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h2
{
color: #ffffff;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
border-bottom:1px solid #BB8BDD;
}

h3
{
color: #a496f2;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.aboutheader
{
background:rgba(205,205,205,0.1);
position:absolute;
width:40%;
left: 50%;
/*right: 30%;*/
transform: translate(-50%, -50%);
text-align:center;
}

.info
{
color: #ffffff;
font-family: 'Zen Kaku Gothic Antique', sans-serif;
}


			
/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
display:inherit; 
z-index:99999999;  
}
			
/* первый уровень выпадающего списка */
nav ul ul li {
min-width:120px;
float:none;
display:list-item;
position: relative;
}

.menuitem
{
display: inline-block;
width:20%;
}

.submenuitem
{
background-color: rgba(255,255,255,0.9);
height:40px;
border:2px solid #BB8BDD;
}