<html>

<head>
  <title>SUKEBAN GAMES</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./styles.css">
<style>

.valhallainfo
{
position:absolute;
top:13%;
}

.nirvannainfo
{
position:absolute;
top:60%;
}

nav ul ul {
display: none;
position: absolute;
top: 12%;
left:67%;
}

</style>
</head>

<body style="background-image: url(stars.gif);background-repeat: repeat; background-color: #000; overflow-x: hidden;">
 

<div class = "aboutheader" style="position:absolute; height:225%; top:113%;">
<h1>SUKEBAN GAMES OFFICIAL WEBFRONT </h1>
  <p><h2><em>Aim for the top!</em></h2></p>
  <p>
  <nav>
  <ul class="menu">
  <li class = "menuitem"><a href="./index.html"><h3>Главная</h3></a></li>
  <li class = "menuitem"><a href="./about.html"><h3>О Нас</h3></a></li>
  <li class = "menuitem"><a href="./games.html"><h3>Игры</h3></a></li>  
  <li class = "menuitem"><h3>Соцсети</h3>
      <ul>
      <li class="submenuitem"><a href="https://twitter.com/sukebangames" target="_blank">Twitter</a></li>
      <li class="submenuitem"><a href="https://steamcommunity.com/groups/SukebanGames" target="_blank">Steam</a></li>
      <li class="submenuitem"><a href="https://www.youtube.com/channel/UC3LBHWBF4kRiuOmzUSa5FMg" target="_blank">YouTube</a></li>
      </ul>
  </li>
  </ul>
  </nav>
  </p>
   
   <div class="info">
   <div class="valhallainfo">
     <h1> VA-11 HALL-A: CYBERPUNK BARTENDER ACTION </h1>
     <iframe width="560" height="315" src="https://www.youtube.com/embed/7x393waFKDw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     <p>
     В этом мире безраздельно правят корпорации, вся человеческая жизнь заражена наномашинами, призванными угнетать их, а ужасающие Белые Рыцари следят за тем, чтобы все подчинялись законам.

     <br/><br/>Но речь не о тех людях.

     <br/><br/>Вы бармен в VA-11 HALL-A, ласково прозванный «Валгалла».
     Хотя это всего лишь небольшой бар в центре города, он привлекает самых интересных людей по эту сторону антиутопии.
     Держите своих клиентов в курсе, и вы будете посвящены в самые интересные истории.
     </p>
   </div>

   <div class="nirvannainfo">
    <h1>CYBERPUNK BARTENDER ACTION N1RVANNA – IN DEVELOPMENT, DATE TO BE ANNOUNCED</h1>
    <img src="nirvanna.jpg" style="width:550px; height: auto;"/>   
    <p>
     Продолжение получившего признание критиков VA-11 Hall-A, Nirvana происходит в Сент-Алисии,
     искусственный остров, расположенный в Карибском море, который переживает большой экономический бум и
     прорывы с технологическими достижениями в области контроля климата окружающей среды.
     <br/><br/>На этот раз мы входим в мир Сэма и Леона, пары, сталкивающейся с трудностями.
     жить очень разными жизнями. Сэм — бармен в баре «Нирвана», где она обслуживает все виды
     посетителей, ищущих покоя в этом шумном мегаполисе. Леон, с другой стороны, гангстер.
     на распутье жизни. Где должна лежать его преданность? Семья или "семья"?
    </p>
   </div>
   </div>
</div>

 <a href="#" style="position:fixed;bottom:30px;right:50px;"><img src="arrow.gif" style = "width:40px; height: auto;"/> </a>
  <script src="/gamesLang.js"></script>
</body>

</html>